@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title</h2>

<h3>Здесь указана информация о сайте в целом, о его возможностях и о технологиях, 
    использованных при создании данного веб приложения.</h3>

<br/>

<p>Это веб-приложение реализует упрощенную модель обслуживания заказов клиента.</p>
<p>Оно не претендует на коммерческое использование.</p>

<br/>

<h4>Возможности незарегистрированных пользователей:</h4>

<ul>
    <li>Посетить страницу @Html.ActionLink("О сайте", "About"), на которой указана общая информация о сайте.</li>
    
    <li>Посетить страницу @Html.ActionLink("Контакты", "Contact"), на которой указаны наши контакты.</li>
    
    <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account").</li>
</ul>

<br />

<h4>Возможности зарегистрированных пользователей:</h4>

<ul>
    <li>Создавать запросы</li>
    <li>Просматривать список всех своих запросов</li>
    <li>Ознакомиться с месторасположением центров обслуживания ДП «КиївГазЕнерджи»</li>
</ul>

<h5>Если пользователь является <strong>Менеджером</strong>:</h5>

<ul>
    <li>Выполнять то же, что и обычный пользователь</li>
    <li>Обрабатывать запросы от других пользователей</li>
</ul>

<h5>Если пользователь является <strong>Администратором</strong>:</h5>

<ul>
    <li>Выполнять то же, что и обычный пользователь</li>
    <li>Просматривать список всех запросов, созданных в данной системе, фильтровать его по менеджерам.</li>
</ul>

<br/>

<p>Пользователь <strong>Администратор</strong> создается по-умолчанию!</p>

<h3>
    <strong>Администратор</strong>
</h3>

<strong>E-mail:</strong>
<span>admin@kyivgaz.ua</span>

<br/>

<strong>Пароль:</strong>
<span>Admin@0</span>



